form {
    display: table;
}

p {
    display: table-row;
}

label {
    display: table-cell;
}

input {
    display: table-cell;
}

.fa-spinner{
    font-size: 30px;
}

.fa-spinner.hide{
    display: none;
}
